<%- include('header') %>

    <main class="main-content" id="mainContent">
        <div class="content-header">
            <h1>Edit Employee</h1>
            <p>Check and refill the input fields to update admins.</p>
        </div>

        <div class="card form-card">
            <h3><i class="fas fa-user-plus"></i> Employee Details</h3>

            <form action="/updateAdmin/<%= editAdmin.id %>" method="POST" class="employee-form"
                enctype="multipart/form-data">
                <div class="form-grid">
                    <!-- first name section  -->
                    <div class="form-group">
                        <label for="firstName">First Name</label>
                        <input type="text" id="firstName" name="firstName" value="<%= editAdmin.firstName %>">
                    </div>

                    <!-- last name section  -->
                    <div class="form-group">
                        <label for="lastName">Last Name</label>
                        <input type="text" id="lastName" name="lastName" value="<%= editAdmin.lastName %>">
                    </div>

                    <!-- email section  -->
                    <div class="form-group">
                        <label for="email">Email Address</label>
                        <input type="email" id="email" name="email" value="<%= editAdmin.email %>">
                    </div>

                    <!-- password section  -->
                    <div class="form-group">
                        <label for="lastName">Password</label>
                        <input type="password" id="lastName" name="password" value="<%= editAdmin.password %>">
                    </div>

                    <!-- phone number section  -->
                    <div class="form-group">
                        <label for="phone">Phone Number</label>
                        <input type="tel" id="phone" name="phone" value="<%= editAdmin.phone %>">
                    </div>

                    <!-- gender section -->
                    <div class="form-group">
                        <label>Gender</label>

                        <div class="radio-group">
                            <label class="radio-card">
                                <input type="radio" name="gender" value="Male" <%=editAdmin.gender==="Male" ? "checked"
                                    : "" %>>
                                <span>Male</span>
                            </label>

                            <label class="radio-card">
                                <input type="radio" name="gender" value="Female" <%=editAdmin.gender==="Female"
                                    ? "checked" : "" %>>
                                <span>Female</span>
                            </label>
                        </div>
                    </div>

                    <!-- hobby section  -->
                    <div class="form-group">
                        <label>Hobbies</label>

                        <div class="checkbox-group">
                            <%["Reading", "Travelling" , "Music" , "Sports" , "Others" ].map(ele=> {%>
                                <label class="checkbox-card">
                                    <input type="checkbox" name="hobbies" value="<%= ele%>"
                                        <%=editAdmin.hobbies.includes(ele) ? "checked" : "" %>>
                                    <span>
                                        <%= ele%>
                                    </span>
                                </label>
                                <%})%>
                        </div>
                    </div>

                    <!-- city section  -->
                    <div class=" form-group">
                        <label for="department">City</label>
                        <select id="department" name="city">
                            <option value="">Select City</option>
                            <%["Surat", "Jaipur" , "Navsari" , "Bhavnagar" ].map(ele=> {%>

                                <option value="<%= ele %>" <%=editAdmin.city===ele ? "selected" : "" %>>
                                    <%= ele%>
                                </option>
                                <%})%>
                        </select>
                    </div>

                    <!-- about section  -->
                    <div class=" form-group full-width">
                        <label for="address">About</label>
                        <textarea id="about" name="about" rows="3"><%= editAdmin.about %></textarea>
                    </div>

                    <!-- proflie image upload section  -->
                    <div class="form-group">
                        <img src="../<%= editAdmin.profileImage%>" alt="" width="100">
                        <label>Profile Image</label>
                        <input type="file" id="profileImage" name="profileImage">
                    </div>


                </div>

                <!-- submit buttons  -->
                <div class="form-actions">
                    <button type="reset" class="btn btn-secondary">
                        <i class="fas fa-undo"></i> Reset
                    </button>
                    <button type="submit" class="btn btn-primary">
                        <i class="fas fa-save"></i> Update
                    </button>
                </div>
            </form>
        </div>
    </main>

    <%- include('footer') %>